.admin-container {
    display: flex; // Xếp những thằng con thành hàng ngang

    .admin-sidebar {
        .ps-menu-root {
            &.css-vj11vy {
                height: 100vh !important;
            }
        }
    }

    .admin-content {
        width: 100%;

        .admin-header {
            height: 40px;
            border: 1px solid green;
        }

        .admin-main {
            height: calc(100vh - 50px);

            .user-pagination {
                display: flex;
                justify-content: center;
            }
        }
    }
}